body {
	margin:0px;
	padding:0px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	background:#e2e2e2;
}
.container {
	width:100%;
	height:auto;
	float:left;
	clear:both;
}
.clear {
	clear:both;
}
img {
	border:none;
}
a:link {
	color: #777777;
	text-decoration: none;
	outline:none;
}
a:visited {
	text-decoration: none;
	color: #777777;
	outline:none;
}
a:hover {
	text-decoration: underline;
	color: #777777;
	outline:none;
}
a:active {
	text-decoration: none;
	color: #777777;
	outline:none;
}
.wrapper {
	width:960px;
	height:auto;
	margin:0 auto;
}
.headercon {
	float:left;
	width:100%;
	height:147px;
	background:url(../images/headerconbg.png) repeat left top;
}
.logo {
	float:left;
	width:228px;
	height:50px;
	margin:30px 0 0 12px;
}
.logo a {
	display:block;
	width:228px;
	height:50px;
	background:url(../images/logo.png) no-repeat left top;
}
.topright {
	float:right;
	margin:40px 0 0 0;
}
.account {
	float:right;
	width:135px;
	height:31px;
}
.account a {
	display:block;
	width:95px;
	height:31px;
	line-height:29px;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	padding:0 0 0 40px;
	background:url(../images/clientlogin.png) no-repeat left top;
}
.livechat {
	float:right;
	width:106px;
	height:31px;
	margin:0 5px;
}
.livechat a {
	display:block;
	width:71px;
	height:31px;
	line-height:29px;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	padding:0 0 0 35px;
	background:url(../images/livechat.png) no-repeat left top;
}
.cpanel {
	float:right;
	width:129px;
	height:31px;
}
.cpanel a {
	display:block;
	width:94px;
	height:31px;
	line-height:29px;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	padding:0 0 0 35px;
	background:url(../images/cpanel.png) no-repeat left top;
}
.link1 {
}
.link1 a {
	width:95px !important;
}
.link1 a:hover {
	border-radius:5px 0 0 0;
}
.link1 a.active {
	border-radius:5px 0 0 0;
	background:url(../images/menuhover.png) repeat-x left top;
}
.link2 {
	width:141px;
}
.link3 {
	width:133px;
}
.link4 {
	width:179px;
}
.link5 {
	width:166px;
}
.link6 {
	width:115px;
}
.link7 {
}
.link7 a {
	width:131px;
}
.link7 a:hover {
	border-radius:0 5px 0 0;
}
.link7 a.active {
	border-radius:0 5px 0 0;
	background:url(../images/menuhover.png) repeat-x left top;
}
.bannercon {
	float:left;
	width:100%;
	height:503px;
	padding:20px 0 0 0;
	margin:0 0 20px 0;
	background:url(../images/bannerconbg.png) repeat-x left top;
}
.bannershadow {
	background:url(../images/bannershadow.png) no-repeat center top;
	height:14px;
	float:left;
	width:968px;
	position:relative;
	margin:-5px 0 16px -4px;
}
.slider {
	width:270px;
	font-size:11px;
	height:280px;
	float:right;
}
.slider ul {
	margin:0;
	padding:0;
	width:270px;
	float:left;
}
.slider ul li {
	list-style:none;
}
.slider ul li a {
	background:url(../images/sliderBg.png) no-repeat top;
	width:249px;
	height:50px;
	color:#FFF;
	display:block;
	border-left:1px solid #FFF;
	padding:20px 0 0 20px;
	border-radius:0 5px 5px 0;
}
.slider ul li a strong {
	font-size:14px;
}
.slider ul li a:hover {
	background:url(../images/sliderBg.png) no-repeat bottom;
	text-decoration:none;
}
.slider ul li a.current {
	background:url(../images/activebanner.png) no-repeat left top;
	width:271px;
	height:50px;
	margin:0 0 0 -20px;
	color:#fff;
	border-left:none !important;
	position:relative;
}
.banner1 {
	float:left;
	width:347px;
	height:205px;
	padding:75px 0 0 333px;
	background:url(../images/bannerbg1.jpg) no-repeat left top;
}
.banner2 {
	float:left;
	width:347px;
	height:205px;
	padding:75px 0 0 333px;
	background:url(../images/bannerbg2.jpg) no-repeat left top;
}
.banner3 {
	float:left;
	width:347px;
	height:205px;
	padding:75px 0 0 333px;
	background:url(../images/bannerbg3.jpg) no-repeat left top;
}
.banner4 {
	float:left;
	width:347px;
	height:205px;
	padding:75px 0 0 333px;
	background:url(../images/bannerbg4.jpg) no-repeat left top;
}
.banner1 h2, .banner2 h2, .banner3 h2, .banner4 h2 {
	margin:0 0 5px 0;
	padding:0px;
	height:30px;
	line-height:30px;
	font-size:36px;
	color:#e9e9e9;
	text-shadow:1px 1px 1xp #000;
}
.banner1 h1, .banner2 h1, .banner3 h1, .banner4 h1 {
	margin:0 0 5px 0;
	padding:0px;
	height:44px;
	line-height:44px;
	font-size:48px;
	color:#e9e9e9;
	text-shadow:1px 1px 1xp #000;
}
.banner1 p, .banner2 p, .banner3 p, .banner4 p {
	margin:0px;
	padding:0px;
	line-height:18px;
	font-size:11px;
	color:#FFF;
	width:285px;
	text-shadow:1px 1px 1xp #000;
}
.bannerate {
	float:left;
	width:197px;
	height:125px;
	margin:0 30px 0 0;
	padding:14px 0 20px 20px;
	background:url(../images/bannerratebg.png) no-repeat left top;
}
.bannerate h2 {
	margin:0 0 5px 0;
	padding:0px;
	color:#333;
	font-size:18px;
}
.bannerate p {
	margin:0px;
	padding:0px;
	color:#777;
	width:160px;
	height:76px;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:18px;
}
.user {
	color:#41911f;
	font-size:18px;
	font-weight:bold;
	display:block;
}
.order {
	float:left;
	width:73px;
	height:23px;
}
.order a {
	display:block;
	background:url(../images/order.png) no-repeat left top;
	width:73px;
	height:23px;
	line-height:23px;
	color:#FFF;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	text-align:center;
}
.order a:hover {
	background:url(../images/order.png) no-repeat left bottom;
}
.doller {
	float:left;
	color:#FFF;
	height:20px;
	line-height:20px;
	font-size:24px;
	font-weight:bold;
	margin:-14px 0 0 45px;
	text-shadow:1px 1px 1px #2d6a94;
}
.numeric {
	float:left;
	color:#FFF;
	height:30px;
	line-height:30px;
	font-size:36px;
	font-weight:bold;
	margin:-22px 0 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.numericsmall {
	float:left;
	color:#FFF;
	height:20px;
	line-height:20px;
	font-size:24px;
	font-weight:bold;
	margin:-15px 0 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.permonth {
	color:#FFF;
	font-size:11px;
	float:right;
	margin:-13px 20px 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.box {
	float:left;
	width:960px;
	margin:0 0 20px 0;
}
.boxlt {
	float:left;
	width:380px;
	padding:20px;
	color:#777;
	font-size:11px;
	line-height:20px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 10px #666;
}
.boxlt1 {
	float:left;
	width:410px;
	padding:20px 30px;
	color:#777;
	font-size:11px;
	line-height:20px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 10px #666;
}
.boxlt1 h2 {
	margin:0 0 5px 0;
	padding:0px;
	color:#333;
	font-size:22px;
}
.boxlt1 p {
	margin:13px 0 20px 0;
	padding:0px;
}
.boxlt h2 {
	margin:0 0 5px 0;
	padding:0px;
	color:#333;
	font-size:22px;
}
.boxlt p {
	margin:13px 0 0 0;
	padding:0px;
}
.greybox {
	background:#dbdbdb;
	border-radius:5px;
	padding:10px;
	color:#777;
	font-size:11px;
	line-height:20px;
	width:360px;
	margin:14px 0 0 0;
}
.green {
	color:#41911f;
}
.boxrt {
	float:left;
	width:249px;
	border-radius:5px;
	background:#FFF;
	margin:0 0 0 21px;
	box-shadow:0 0 10px #666;
}
.boxrtinner {
	width:223px;
	padding:13px;
}
.boxrt h2 {
	margin:0px;
	padding:0 0 0 20px;
	color:#FFF;
	font-size:18px;
	height:42px;
	line-height:42px;
	background:url(../images/boxrtheading.png) no-repeat left top;
}
.boxrt ul {
	list-style:none;
	margin:0 0 10px 0;
	padding:0;
}
.boxrt ul li {
	line-height:31px;
	border-bottom:1px solid #d4d4d4;
	color:#333;
	font-size:11px;
	padding:0 0 0 20px;
	background:url(../images/tickmark.png) no-repeat left center;
}
.learnmore {
	width:119px;
	height:23px;
}
.learnmore a {
	display:block;
	background:url(../images/learnmore.png) no-repeat left top;
	width:119px;
	height:23px;
	line-height:23px;
	color:#FFF;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
}
.learnmore a:hover {
	background:url(../images/learnmore.png) no-repeat left bottom;
}
.name {
	color:#41911f;
	font-style:italic;
	font-size:11px;
	display:block;
	font-weight:bold;
	margin:0 0 15px 0;
}
.boxrt p {
	margin:0;
	height:122px;
	padding:0 10px 0 20px;
	font-size:11px;
	font-style:italic;
	color:#777;
	line-height:20px;
	background:url(../images/testimonial.png) no-repeat left top;
}
.moretestimonial {
	width:205px;
	height:23px;
}
.moretestimonial a {
	display:block;
	background:url(../images/moretestimonial.png) no-repeat left top;
	width:205px;
	height:23px;
	line-height:23px;
	color:#FFF;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
}
.moretestimonial a:hover {
	background:url(../images/moretestimonial.png) no-repeat left bottom;
}
.footercon {
	float:left;
	width:100%;
	background:url(../images/footerbg.png) repeat-x left top #252525;
}
.footerinner {
	float:left;
	width:960px;
	height:256px;
	background:url(../images/footerinner.png) no-repeat center top;
}
.sitemap {
	float:left;
	width:180px;
	height:221px;
}
.sitemap h2 {
	margin:0 0 14px 0;
	padding:0;
	color:#FFF;
	line-height:52px;
	line-height:52px;
	font-size:15px;
}
.sitemap ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.sitemap ul li {
	height:20px;
	background:url(../images/footerli.png) no-repeat left center;
}
.sitemap ul li a {
	line-height:20px;
	color:#a9a9a9;
	font-size:11px;
	text-decoration:none;
	padding:0 0 0 18px;
}
.sitemap ul li a:hover {
	color:#FFF;
}
.socialmedia {
	float:right;
	width:212px;
	background:url(../images/socialmedia.png) no-repeat left 20px;
}
.socialmedia h2 {
	margin:0 0 30px 0;
	padding:0;
	color:#51a62c;
	line-height:52px;
	line-height:52px;
	font-size:15px;
	text-align:center;
}
.socialmedia ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.socialmedia ul li {
	height:21px;
	margin:0 0 10px 0;
}
.socialmedia ul li a {
	line-height:20px;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 45px;
}
.socialmedia ul li a:hover {
	color:#51a62c;
}
.facebook {
	background:url(../images/facebook.png) no-repeat 12px center;
}
.twitter {
	background:url(../images/twitter.png) no-repeat 12px center;
}
.linkedin {
	background:url(../images/linkedin.png) no-repeat 12px center;
}
.copyright {
	float:left;
	color:#777;
	font-size:11px;
}
.term {
	float:right;
	color:#777;
	font-size:11px;
}
/**********SUBPAGE***********/
.banerconsub {
	float:left;
	width:100%;
	height:187px;
	padding:20px 0 0 0;
	margin:0 0 20px 0;
	background:url(../images/bannerconsub.png) repeat-x left top;
}
.bannersub {
	float:left;
	width:550px;
	height:120px;
	padding:40px 0 0 410px;
	background:url(../images/bannersub.jpg) no-repeat left top;
}
.bannersub h2 {
	margin:0 0 5px 0;
	padding:0px;
	height:30px;
	line-height:30px;
	font-size:36px;
	color:#e9e9e9;
	text-shadow:1px 1px 1xp #000;
}
.bannersub h1 {
	margin:0 0 5px 0;
	padding:0px;
	height:44px;
	line-height:44px;
	font-size:48px;
	color:#e9e9e9;
	text-shadow:1px 1px 1xp #000;
}
.welcome {
	float:left;
	width:920px;
	margin:0 0 20px 0;
	padding:20px;
	background:#FFF;
	border-radius:5px;
	color:#777;
	font-size:11px;
	line-height:18px;
	box-shadow:0 0 10px #666;
}
.welcome h2 {
	margin:0px;
	padding:0px;
	color:#333;
	font-size:22px;
}
.welcome p {
	margin:13px 0 0 0;
	padding:0px;
}
.plancon {
	float:left;
	width:960px;
	margin:0 0 20px 0;
}
.plan {
	float:left;
	width:177px;
	padding:20px 20px 0 20px;
	border-radius:5px;
	margin:0 30px 0 0;
	background:url(../images/planbg.png) no-repeat left top #FFF;
	;
}
.plan h2 {
	margin:0 0 5px 0;
	padding:0px;
	font-size:18px;
	color:#333;
}
.plan p {
	margin:0px;
	padding:0px;
	color:#333;
	font-size:11px;
	line-height:18px;
}
.plan ul {
	list-style:none;
	margin:0 0 5px 0;
	padding:0px
}
.plan ul li {
	line-height:31px;
	color:#333;
	border-bottom:1px solid #b7d2e5;
	font-size:11px;
}
.plan ul li span {
	color:#509931;
	font-size:16px;
	font-weight:bold;
	margin:0 7px 0 0;
}
.planleft {
	float:left;
	width:85px;
}
.planrate {
	float:left;
	color:#000;
	font-size:22px;
	font-weight:bold;
	margin:0 0 10px 0;
	font-family:Tahoma, Geneva, sans-serif;
	width:85px;
}
.planrate span {
	display:block;
	font-size:18px;
	margin:-3px 0 0 0;
}
.planrate1 {
	float:right;
	width:110px;
	height:93px;
	margin:0 -20px 0 0;
	background:url(../images/planrate.png) no-repeat left top;
}
.doller1 {
	float:left;
	color:#FFF;
	height:20px;
	line-height:20px;
	font-size:24px;
	font-weight:bold;
	margin:46px 0 0 28px;
	text-shadow:1px 1px 1px #2d6a94;
}
.numeric1 {
	float:left;
	color:#FFF;
	height:30px;
	line-height:30px;
	font-size:36px;
	font-weight:bold;
	margin:40px 0 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.numericsmall1 {
	float:left;
	color:#FFF;
	height:20px;
	line-height:20px;
	font-size:24px;
	font-weight:bold;
	margin:46px 0 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.permonth1 {
	color:#FFF;
	font-size:11px;
	float:right;
	margin:0 20px 0 0;
	text-shadow:1px 1px 1px #2d6a94;
}
.field1 {
	width:260px;
	height:30px;
	line-height:30px;
	padding:0 10px;
	color:#777;
	font-size:11px;
}
.field2 {
	border:none;
	margin:0px;
	padding:0px;
}
.field3 {
	float:right;
	width:73px;
	height:23px;
	border:none;
	cursor:pointer;
	margin:0 15px 0 0;
	background:url(../images/signin.png) no-repeat left top;
}
.field3:hover {
	background:url(../images/signin.png) no-repeat left bottom;
}
.field4 {
	float:right;
	width:119px;
	height:23px;
	border:none;
	cursor:pointer;
	margin:0 15px 0 0;
	background:url(../images/register.png) no-repeat left top;
}
.field4:hover {
	background:url(../images/register.png) no-repeat left bottom;
}
.boxlt1 ul {
	list-style:none;
	margin:0 0 28px 0;
	padding:0px;
}
.boxlt1 ul li {
	padding:0 0 0 23px;
	line-height:24px;
	background:url(../images/tickmark.png) no-repeat left center;
}
.hot {
	position:absolute;
	width:78px;
	height:76px;
	margin:-26px 0 0 125px;
	background:url(../images/hotplan.png) no-repeat left top;
}
.hot1 {
	position:absolute;
	width:78px;
	height:76px;
	margin:-20px 0 0 125px;
	background:url(../images/hotplan.png) no-repeat left top;
}
/*************BLANK PAGE*****************/

.content {
	float:left;
	width:960px;
	margin:0 0 20px 0;
}
.contentleft {
	width:630px;
	float:left;
}
.blankboxlt {
	width:590px;
	padding:20px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 10px #666;
}
.blankboxlt h2 {
	margin:0px;
	padding:0px;
	color:#000;
	font-size:20px;
}
.blankboxlt p {
	margin:0px;
	padding:15px 0;
	color:#555;
	font-size:11px;
	line-height:20px;
}
.contentright {
	width:303px;
	float:right;
}
.sideBox {
	width:303px;
	float:left;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow:0 0 10px #666;
	overflow:hidden;
}
.sideBox-top {
	background:#006c99;
	height:39px;
	width:288px;
	float:left;
	text-align:left;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:39px;
	padding-left:15px;
}
.sideBox-content {
	background:#FFF;
	width:263px;
	float:left;
	padding:20px 20px 12px;
}
.liststyle22 {
	margin:0px 0;
	padding:0;
	list-style:none;
	width:212px;
}
.liststyle22 li {
	background:none;
	border:none;
	color:#333;
	font-size:11px;
	width:100%;
	float:left;
	margin:0;
	padding:2px 0;
}
.textfielstyle1 {
	width:234px;
	float:left;
	line-height:24px;
	color:#333;
	padding:5px;
}
.login-btn {
	width:82px;
	height:35px;
	float:left;
}
.login-btn a {
	background:#006c99;
	width:82px;
	height:35px;
	display:block;
	text-shadow:1px 1px #646567;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:35px;
	text-decoration:none;
	border-radius:7px;
}
.login-btn a:hover {
	opacity:0.8;
}
.ulStyle03 {
	margin:0;
	padding:0;
	float:left;
	width:100%;
}
.ulStyle03 li {
	list-style:none;
	padding:0;
	border-bottom:1px dashed #b8b8b8;
}
.ulStyle03 li a {
	font-size:11px;
	color:#575757;
	line-height:25px;
	text-decoration:none;
}
.ulStyle03 li a:hover {
	text-decoration:underline;
}
.liststyle11 {
	margin:0px 0;
	padding:0;
	list-style:none;
}
.liststyle11 li {
	background:none;
	border:none;
	color:#333;
	font-size:11px;
	width:100%;
	float:left;
	padding:5px 0;
}
.Box01 {
	width:630px;
	float:left;
	background:url(../images/Box01-bottom.png) no-repeat left bottom;
	padding-bottom:8px;
	margin-bottom:20px;
}
.Box01-top {
	background:url(../images/Box01-top.png) no-repeat left top;
	width:630px;
	height:8px;
	float:left;
}
.Box01-content01 {
	width:628px;
	float:left;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
}
.Box01-content02 {
	width:586px;
	float:left;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	background:url(../images/Box01-bg.png) repeat-x left bottom #FFF;
	padding:13px 19px 0;
}
.Box01-content02 h1 {
	margin:0;
	padding:0;
	font-size:24px;
	color:#da060e;
	line-height:34px;
	border-bottom:1px solid #d4d4d4;
}
.online {
	width:38px;
	height:28px;
	position:absolute;
	margin:-21px 0 0 214px;
	background:url(../images/online.png) no-repeat left top;
}
/**********SPEACIAL CLASSES***********/

.nobg {
	background:none !important;
}
.nomarginrt {
	margin-right:0px !important;
}
.noborderbtm {
	border-bottom:none !important;
}
.floatrt {
	float:right !important;
}
